//Small screens - MOBILE
//max-width 640px, small screens
@media only screen {
    #extra_services {
        padding-bottom: $large;
    }
    .extra_services_header {
        font-family: $mainFont;
        margin: $small 0;
    }
    .extra_services_header h3 {
        font-family: $secondaryFont;
        font-size: $large;
        text-align: center;
    }
    .extra_services_header p {
        font-size: $medium;
        line-height: $large;
        margin: 0 10%;
        text-align: center;
    }
    .extra_services_row {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }
    .extra_service {
        margin: $medium;
    }
    .extra_service_header {
        background: linear-gradient(45deg, rgb(80, 156, 103) 45%, $green 100%);
        border: 1px solid #bbb;
        border-bottom: none;
        box-sizing: border-box;
        box-sizing: content-box;
        box-shadow: 0 $xsmall $small 0 rgba(189, 195, 199, 0.6);
        color: white;
        font-size: $midlarge;
        padding: $medium 0;
        text-align: center;
    }
    .extra_service_pricing {
        border: 1px solid #bbb;
        border-bottom: none;
        border-top: none;
        box-sizing: border-box;
        box-sizing: content-box;
        box-shadow: 0 $xsmall $small 0 rgba(189, 195, 199, 0.6);
        font-size: $medium;
        padding: $small 0;
        text-align: center;
    }
    .extra_service_pricing h2 {
        font-size: $xlarge;
        margin: $medium;
    }
    .extra_service_pricing h5 {
        font-size: $medium;
        margin: $small;
    }
    .extra_service_content {
        background: linear-gradient(45deg, rgb(80, 156, 103) 45%, $green 100%);
        border: 1px solid #bbb;
        border-top: none;
        box-sizing: border-box;
        box-sizing: content-box;
        box-shadow: 0 $xsmall $small 0 rgba(189, 195, 199, 0.6);
        color: white;
        padding: $medium $medium $medium 0;
    }
    .extra_service_content li {
        font-size: $medium;
        padding: 0 0 $medium 0;
    }
}

//Medium screens - TABLET
//min-width 641px, medium screens
@media only screen and (min-width: $mediumScreen) {}

//Large screens - DESKTOP
//min-width 1025px, large screens
@media only screen and (min-width: $largeScreen) {
    .extra_services_header p {
        margin: 0 20%;
    }
}

//XLarge screens
//min-width 1441px, xlarge screens
@media only screen and (min-width: $xlargeScreen) {}

//XXLarge screens
//min-width 1921px, xlarge screens
@media only screen and (min-width: $xxlargeScreen) {}
