//Small screens - MOBILE
//max-width 640px, small screens
@media only screen {
    #faq_page>.faq_content .faq_question {
        background-color: $lightBlue;
        color: white;
        display: flex;
        font-family: $mainFont;
        font-size: $midlarge;
        margin: $small $small 0;
        padding: $small;
    }
    #faq_page>.faq_content .faq_question:hover {
        background-color: $blue;
        transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
    }
    #faq_page>.faq_content .favicon_container {
        margin-left: auto;
    }
    #faq_page>.faq_content .faq_answer {
        background-color: $lightGrey;
        font-family: $secondaryFont;
        font-size: $midlarge;
        margin: 0 $small;
        padding: 0 $small;
    }
    #faq_page>.faq_content .faq_answer>div {
        color: $darkGrey;
        padding: $large 0;
    }
    #faq_page>.faq_content .favicon {
        font-size: $midlarge;
        padding: 0 0 0 $xsmall;
    }
}

//Medium screens - TABLET
//min-width 641px, medium screens
@media only screen and (min-width: 40.063em) {}

//Large screens - DESKTOP
//min-width 1025px, large screens
@media only screen and (min-width: 64.063em) {}

//XLarge screens
//min-width 1441px, xlarge screens
@media only screen and (min-width: 90.063em) {}

//XXLarge screens
//min-width 1921px, xlarge screens
@media only screen and (min-width: 120.063em) {}
