//Small screens - MOBILE
//max-width 640px, small screens
@media only screen {
    #faq_page>.faq_content {
        margin: 0 $medium $large $medium;
    }
}

//Medium screens - TABLET
//min-width 641px, medium screens
@media only screen and (min-width: 40.063em) {}

//Large screens - DESKTOP
//min-width 1025px, large screens
@media only screen and (min-width: 64.063em) {
    #faq_page>.faq_content {
        margin: 0 10% $large $medium;
    }
}

//XLarge screens
//min-width 1441px, xlarge screens
@media only screen and (min-width: 90.063em) {}

//XXLarge screens
//min-width 1921px, xlarge screens
@media only screen and (min-width: 120.063em) {}
