//Small screens - MOBILE
//max-width 640px, small screens
@media only screen {
    #pork {
        background: white;
        font-family: $mainFont;
        margin: $large 0;
    }
    #pork .pork_header {
        margin: 0 20%;
        text-align: center;
    }
    #pork .pork_header h3 {
        font-family: $secondaryFont;
        font-size: $large;
    }
    #pork .pork_header p {
        color: $darkGrey;
        font-size: $medium;
        line-height: $large;
        margin-bottom: $large;
    }
    #pork .pork_content {
        display: flex;
        justify-content: space-around;
        margin: 0 10%;
    }
}

//Medium screens - TABLET
//min-width 641px, medium screens
@media only screen and (min-width: $mediumScreen) {}

//Large screens - DESKTOP
//min-width 1025px, large screens
@media only screen and (min-width: $largeScreen) {
    #pork .pork_header p {
        margin: 0 10% $large;
    }
}

//XLarge screens
//min-width 1441px, xlarge screens
@media only screen and (min-width: $xlargeScreen) {}

//XXLarge screens
//min-width 1921px, xlarge screens
@media only screen and (min-width: $xxlargeScreen) {}
