/*
    Small screens - MOBILE
    max-width 640px, small screens
*/

@media only screen {
    #pricing {
        background: radial-gradient(circle, $lightBlue 0%, darken($blue, 20) 100%);
        padding: $small 0 $large;
    }
    #pricing .pricing_row {
        display: flex;
        flex-flow: column;
        font-family: $mainFont;
        justify-content: space-around;
        padding: 0 $small 0;
    }
    #pricing .pricing_package {
        background: white;
        border: 1px solid #bbbbbb;
        border-radius: $xxsmall;
        display: flex;
        flex-flow: column;
        margin: $small 0 $small;
        padding: $medium $large $large;
        text-align: center;
    }
    #pricing .price_header>h3 {
        font-size: $midlarge;
        margin: $medium 0 0;
    }
    #pricing .price_header>h5 {
        color: $midGrey;
        font-family: $secondaryFont;
        font-size: $medium;
        margin: 0;
    }
    #pricing .price_header>p {
        color: $midGrey;
        font-family: $secondaryFont;
        font-size: $medium;
        margin: $large 0 $medium;
    }
    #pricing .price_cost>h2 {
        font-family: $secondaryFont;
        font-size: $large;
        margin: 0 0 $medium;
    }
    #pricing .price_content>p {
        font-family: $secondaryFont;
        font-size: $medium;
        margin: $small 0 0;
    }
    #pricing .contact {
        align-items: center;
        display: flex;
        justify-content: center;
        margin: $large $small 0;
    }
    #pricing .button,
    #pricing .link {
        background-color: white;
        border: 1px solid $blue;
        border-radius: $xxsmall;
        color: $blue;
        font-family: $mainFont;
        font-size: $medium;
        margin: 0;
        padding: $medium $midlarge;
        text-decoration: none;
        text-transform: uppercase;
    }
    #pricing .button:hover,
    #pricing .link:hover {
        background: $blue;
        color: white;
        transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
    }
}

/*
    Medium screens - TABLET
    min-width 641px, medium screens
*/

@media only screen and (min-width: 40.063em) {
    #pricing .pricing_row {
        margin: 0 10%;
    }
}

/*
    Large screens - DESKTOP
    min-width 1025px, large screens
*/

@media only screen and (min-width: 64.063em) {
    #pricing .pricing_row {
        flex-flow: row;
        justify-content: space-evenly;
        margin: 0 auto;
    }
    #pricing .pricing_package {
        margin: $xlarge $small $midlarge;
        padding: $medium $large $large;
        width: 50rem;
    }
}

/*
    XLarge screens
    min-width 1441px, xlarge screens
*/

@media only screen and (min-width: 90.063em) {
    #pricing .pricing_row {
        margin: 0 10%;
    }
}

/*
    XXLarge screens
    min-width 1921px, xlarge screens
*/

@media only screen and (min-width: 120.063em) {}
