//Small screens - MOBILE
//max-width 640px, small screens
@media only screen {
    $widgetHeight: 32rem;
    #widgets {
        font-family: $secondaryFont;
    }
    #widget_spacing {
        background: $lightGrey;
        height: 200rem;
        left: 0;
        position: absolute;
        top: $widgetHeight;
        width: 100%;
        z-index: -1;
    }
    .widget_row {
        background: transparent;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        list-style: none;
        margin: -10rem 0;
        padding: 0;
    }
    .widget {
        background: $green;
        color: white;
        font-size: $medium;
        height: $widgetHeight;
        margin: $small $small;
        padding: $midlarge $medium;
        text-align: center;
        width: 21rem;
    }
    .widget_image img {
        border: 0.25rem solid #eee;
        border-radius: 10rem;
        padding: 0.25rem;
    }
    .widget_image img:hover {
        transform: rotateY(360deg);
        transition: 2.5s all;
        -webkit-transition: 2.5s all;
        -moz-transition: 2.5s all;
        -o-transition: 2.5s all;
        -ms-transition: 2.5s all;
    }
    .widget_content h4 {
        font-family: $secondaryFont;
        font-size: $midlarge;
        letter-spacing: 0.1rem;
        margin: $small;
    }
    .widget_content p {
        font-size: $medium;
    }
}

//Medium screens - TABLET
//min-width 641px, medium screens
@media only screen and (min-width: $mediumScreen) {}

//Large screens - DESKTOP
//min-width 1025px, large screens
@media only screen and (min-width: $largeScreen) {
    #widget_spacing {
        height: 100rem;
    }
    .widget_row {
        margin: -13rem 0;
    }
}

//XLarge screens
//min-width 1441px, xlarge screens
@media only screen and (min-width: $xlargeScreen) {}

//XXLarge screens
//min-width 1921px, xlarge screens
@media only screen and (min-width: $xxlargeScreen) {}
