@import "../../styles/variables";
@import "../../styles/mixins";

//Small screens - MOBILE
@media only screen {
  .lawn-container {
    margin: $LARGE $MIDLARGE $MEDIUM;
    text-align: center;
    &__title {
      @include font-type($MAIN_FONT, $LARGE);

      margin-bottom: $MEDIUM;
    }
    &__text {
      @include font-type($MAIN_FONT, $MEDIUM);

      max-width: 724px;
      margin: 0 auto $MEDIUM;
      padding: 0 5%;
      line-height: $LARGE;
    }
    &__nav-link {
      @include CTA-link();
    }
    &__gallery {
      display: flex;
      flex-flow: wrap;
      justify-content: center;
      padding: $LARGE 5%;
    }
    &__image {
      width: auto;
      max-width: 100%;
      max-height: 50vh;
      margin: $XSMALL;
      object-fit: scale-down;
    }
  }
}

//Medium screens - TABLET
@media only screen and (min-width: $MEDIUM_SCREEN) {
}

//Large screens - DESKTOP
@media only screen and (min-width: $LARGE_SCREEN) {
  .lawn-container {
    &__image {
      max-width: 25vw;
      max-height: 35vh;
    }
  }
}

//XLarge screens
@media only screen and (min-width: $XLARGE_SCREEN) {
}

//XXLarge screens
@media only screen and (min-width: $XXLARGE_SCREEN) {
}
