@import "../../styles/variables.scss";
@import "../../styles/typography.scss";

//Small screens - MOBILE
//max-width 640px, small screens
@media only screen {
  .services {
    background-color: $lightGrey;
    padding: $large 5%;
    text-align: center;
    &__title {
      @include font-type($mainFont, $large, bold);
      margin-bottom: $medium;
    }
    &__content {
      display: grid;
      grid-gap: $midlarge;
    }
  }
}

//Medium screens - TABLET
//min-width 641px, medium screens
@media only screen and (min-width: 40.063em) {
}

//Large screens - DESKTOP
//min-width 1025px, large screens
@media only screen and (min-width: 64.063em) {
  .services {
    padding: $large 15%;
    text-align: inherit;
    &__content {
      display: grid;
      grid-gap: $midlarge;
      grid-template-columns: 1fr 1fr;
      text-align: center;
    }
  }
}

//XLarge screens
//min-width 1441px, xlarge screens
@media only screen and (min-width: 90.063em) {
}

//XXLarge screens
//min-width 1921px, xlarge screens
@media only screen and (min-width: 120.063em) {
}
