@import "../../styles/variables";
@import "../../styles/mixins";

//Small screens - MOBILE
@media only screen {
  .services {
    padding: $LARGE 5%;
    text-align: center;
    background-color: $GRAY_100;
    &__title {
      @include font-type($MAIN_FONT, $LARGE);

      margin-bottom: $MEDIUM;
    }
    &__content {
      display: grid;
      grid-gap: $MIDLARGE;
    }
  }
}

//Medium screens - TABLET
@media only screen and (min-width: $MEDIUM_SCREEN) {
}

//Large screens - DESKTOP
@media only screen and (min-width: $LARGE_SCREEN) {
  .services {
    padding: $LARGE 5%;
    text-align: inherit;
    &__content {
      display: grid;
      grid-gap: $MIDLARGE;
      grid-template-columns: 1fr 1fr;
      text-align: center;
    }
  }
}

//XLarge screens
@media only screen and (min-width: $XLARGE_SCREEN) {
}

//XXLarge screens
@media only screen and (min-width: $XXLARGE_SCREEN) {
}
