@import "../../styles/variables";
@import "../../styles/mixins";

//Small screens - MOBILE
@media only screen {
  .landing-container {
    &__splash-image {
      height: 50vh;
      object-fit: cover;
    }
  }
}

//Medium screens - TABLET
@media only screen and (min-width: $MEDIUM_SCREEN) {
  .landing-container {
    &__splash-image {
      height: 100%;
      max-height: 75vh;
    }
  }
}

//Large screens - DESKTOP
@media only screen and (min-width: $LARGE_SCREEN) {
}

//XLarge screens
@media only screen and (min-width: $XLARGE_SCREEN) {
}

//XXLarge screens
@media only screen and (min-width: $XXLARGE_SCREEN) {
}
