# dependencies
/node_modules

# build/production folders
.next/
.serverless/

# secrets
secrets.json
/src/config/secrets.js

# local error files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
sh.exe.stackdump
