@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

//Small screens - MOBILE
@media only screen {
  .contact-container {
    padding: $MEDIUM;
    &__info {
      display: grid;
      gap: $MEDIUM;
      width: 100%;
      max-width: 724px;
      padding: $SMALL;
      text-align: center;
      background-image:
        linear-gradient(
          90deg,
          $MAIN_COLOR -10%,
          white 25%,
          white 75%,
          $MAIN_COLOR 110%
        );
      box-shadow: $BOX_SHADOW_WIDGET;
    }
    &__form {
      max-width: 724px;
      margin-top: $MEDIUM;
      box-shadow: $BOX_SHADOW_WIDGET;
    }
  }
}

//Medium screens - TABLET
@media only screen and (min-width: $MEDIUM_SCREEN) {
}

//Large screens - DESKTOP
@media only screen and (min-width: $LARGE_SCREEN) {
  .contact-container {
    &__info {
    }
    &__form {
    }
  }
}

//XLarge screens
@media only screen and (min-width: $XLARGE_SCREEN) {
}

//XXLarge screens
@media only screen and (min-width: $XXLARGE_SCREEN) {
}
