@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

//Small screens - MOBILE
@media only screen {
  .contact-container {
    min-height: $MAIN_HEIGHT;
    padding: $MEDIUM;
    background-image:
      linear-gradient(
        150deg,
        white 25%,
        white 35%,
        $SEC_COLOR 130%
      );
    &__info {
      display: grid;
      gap: $MEDIUM;
      width: 100%;
      max-width: 624px;
      margin: 0 auto;
      padding: $MIDLARGE;
      text-align: center;
      background-color: $MAIN_COLOR_DARKEN;
      border-radius: 5px;
      box-shadow: $BOX_SHADOW_WIDGET_DARKEN;
    }
    &__form {
      max-width: 624px;
      margin: 0 auto;
      margin-top: $MEDIUM;
      background-color: white;
      border-radius: 5px;
      box-shadow: $BOX_SHADOW_WIDGET;
    }
  }
}

//Medium screens - TABLET
@media only screen and (min-width: $MEDIUM_SCREEN) {
}

//Large screens - DESKTOP
@media only screen and (min-width: $LARGE_SCREEN) {
  .contact-container {
    display: grid;
    grid-template-columns: 350px auto;
    align-content: center;
    justify-content: center;
    padding: $LARGE 5%;
    overflow: auto;
    &__info {
      z-index: 2;
      align-content: center;
      align-self: center;
      height: 350px;
    }
    &__form {
      z-index: 1;
      margin: 0;
      margin-left: -$XLARGE;
      padding: 0 $LARGE 0 $XXLARGE;
    }
  }
}

//XLarge screens
@media only screen and (min-width: $XLARGE_SCREEN) {
}

//XXLarge screens
@media only screen and (min-width: $XXLARGE_SCREEN) {
}
