@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

//Small screens - MOBILE
@media only screen {
  .contact-container {
    background-color: #bbf0f3;
    background-image: linear-gradient(315deg, #bbf0f3 0%, #f6d285 74%);
    &__content {
      display: grid;
      grid-gap: $MEDIUM;
      padding: $MEDIUM $SMALL $XLARGE;
    }
    &__visit {
      display: grid;
      grid-gap: $MEDIUM;
      padding: $MEDIUM;
      text-align: center;
      background: white;
      box-shadow: $BOX_SHADOW;
      opacity: 0.95;
    }
  }
}

//Medium screens - TABLET
@media only screen and (min-width: $MEDIUM_SCREEN) {
  .contact-container {
    min-height: calc(100vh - #{$navMenuHeight});
    &__content {
      grid-template-columns: auto auto;
      justify-content: center;
      margin: 0 auto;
    }
    &__visit {
      max-width: 30vw;
      height: fit-content;
    }
  }
}

//Large screens - DESKTOP
@media only screen and (min-width: $LARGE_SCREEN) {
}

//XLarge screens
@media only screen and (min-width: $XLARGE_SCREEN) {
}

//XXLarge screens
@media only screen and (min-width: $XXLARGE_SCREEN) {
}
