@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

//Small screens - MOBILE
@media only screen {
  .farm-option {
    &__image {
      max-height: 50vh;
      padding: 0 5%;
    }
    &__title {
      @include font-type($MAIN_FONT, $MIDLARGE, bold);

      margin: $MEDIUM 0;
    }
    &__text {
      @include font-type($MAIN_FONT, $MEDIUM);

      margin-bottom: $SMALL;
      padding: 0 $SMALL;
      color: $GRAY_500;
      line-height: $LARGE;
    }
    &__nav-link {
      @include CTA-link();
    }
  }
}

//Medium screens - TABLET
@media only screen and (min-width: $MEDIUM_SCREEN) {
}

//Large screens - DESKTOP
@media only screen and (min-width: $LARGE_SCREEN) {
  .farm-option {
    &__content {
      &-text {
        padding: 0 $MEDIUM;
      }
    }
  }
}

//XLarge screens
@media only screen and (min-width: $XLARGE_SCREEN) {
}

//XXLarge screens
@media only screen and (min-width: $XXLARGE_SCREEN) {
}
