@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

//Small screens - MOBILE
@media only screen {
  .benefit-card {
    position: relative;
    width: 100%;
    height: 225px;
    margin: $LARGE $MEDIUM $MEDIUM;
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    &__image {
      position: absolute;
      top: -15px;
      left: -15px;
      width: 50px;
      height: 50px;
      padding: 10px;
      background-color: rgb(24, 83, 24);
      border-radius: 50%;
    }
    &__content {
      &-title {
        @include font-type($MAIN_FONT, $LARGE);

        margin-top: $SMALL;
        text-align: center;
      }
      &-text {
        padding-top: $LARGE;
        padding-right: $SMALL;
        padding-left: $MEDIUM;
      }
    }
  }
}

//Medium screens - TABLET
@media only screen and (min-width: $MEDIUM_SCREEN) {
}

//Large screens - DESKTOP
@media only screen and (min-width: $LARGE_SCREEN) {
  .benefit-card {
    width: 350px;
    height: 200px;
    margin: $LARGE;
    &__image {
      top: -25px;
      left: -25px;
      width: 75px;
      height: 75px;
    }
  }
}

//XLarge screens
@media only screen and (min-width: $XLARGE_SCREEN) {
}

//XXLarge screens
@media only screen and (min-width: $XXLARGE_SCREEN) {
}
