/*
    Small screens - MOBILE
    max-width 641px, small screens
*/

@media only screen {
    /* header */
    header .intro-text {
        padding: 2em 1em 1em 1em;
        font-size: 3em;
        text-align: center;
    }
    header p {
        margin: 0em 3em 0em 3em;
        font-size: 1.5em;
        font-weight: 595;
    }
    /* end header */
    /* choices */
    #choices {
        padding: 1em 2em;
    }
    #choices .row {
        margin-top: 3em;
    }
    .choice {
        text-align: center;
    }
    .choice img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
    #choices h4 {
        font-size: 1.6em;
        color: #000000;
        padding: 0.5em 0 0em 0em;
        display: block;
        font-weight: 600;
    }
    #choices p {
        font-size: 1.2em;
        margin-bottom: 0.25em;
        color: #333;
        line-height: 1.8em;
        padding: 0em 2em 0em 2em;
    }
    #choices a {
        font-size: 1.2em;
        padding: 0.5em 1em;
        margin: 1em 0em 1.5em;
        background-color: #16A667;
        color: #ffffff;
    }
    #choices a:hover {
        background-color: darkgreen;
    }
    /* end choices */
}

/* 
    Medium screens - TABLET
    min-width 641px, medium screens
*/

@media only screen and (min-width: 40.063em) {}

/* 
    Large screens - DESKTOP
    min-width 1025px, large screens
*/

@media only screen and (min-width: 64.063em) {
    /* header */
    header p {
        margin: 0em 5em 1em 5em;
    }
    /* end header */
    /* choices */
    .choice img {
        width: 75%;
    }
    /* end choices */
}

/* 
    XLarge screens
    min-width 1441px, xlarge screens
*/

@media only screen and (min-width: 90.063em) {}