/*
    Small screens - MOBILE
    max-width 641px, small screens
*/

@media only screen {
    /* header */
    header {
        display: flex;
        justify-content: space-around;
    }
    header .header_row {
        display: flex;
        flex-flow: column;
        justify-content: center;
        /* width: 65%; */
    }
    header .intro-text {
        padding: 2em 1em 1em 1em;
        font-size: 3em;
        text-align: center;
    }
    header p {
        font-size: 1.5em;
        justify-content: center;
        margin: 0em 2em 1em 2em;
    }
    /* end header */
    /* choices */
    #choices {
        display: flex;
        justify-content: center;
        margin: 2em 0 1em;
    }
    .choices_row {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        -webkit-flex-flow: row wrap;
    }
    .choice {
        text-align: center;
    }
    .choice img {
        display: block;
        margin: 0 auto;
        width: 75%;
    }
    #choices h4 {
        color: #000000;
        font-size: 1.6em;
        font-weight: 600;
        padding-top: 0.5em;
    }
    #choices p {
        color: #333;
        font-size: 1.2em;
        line-height: 1.8em;
        margin-bottom: 0.25em;
        padding: 0em 3em;
    }
    #choices a {
        background-color: #16A667;
        color: #ffffff;
        font-size: 1.2em;
        margin: 1em auto 1.5em;
        padding: 0.5em 1em;
    }
    #choices a:hover {
        background-color: darkgreen;
    }
    /* end choices */
}

/* 
    Medium screens - TABLET
    min-width 641px, medium screens
*/

@media only screen and (min-width: 40.063em) {
    /* header */
    header .header_row {
        width: 85%;
    }
    /* end header */
    /* choices */
    .choices_row {
        width: 80%;
    }
    .choice img {
        width: 65%;
    }
    /* end choices */
}

/* 
    Large screens - DESKTOP
    min-width 1025px, large screens
*/

@media only screen and (min-width: 64.063em) {
    /* header */
    header .header_row {
        width: 65%;
    }
    /* end header */
    /* choices */
    #choices {
        display: flex;
        justify-content: space-around;
        margin: 2em 0 1em;
    }
    .choices_row {
        flex-flow: row;
        width: 65%;
        -webkit-flex-flow: row;
    }
    .choice img {
        width: 70%;
    }
    /* end choices */
}

/* 
    XLarge screens
    min-width 1441px, xlarge screens
*/

@media only screen and (min-width: 90.063em) {}