/*
    Small screens - MOBILE
    max-width 641px, small screens
*/

@media only screen {
    /* header */
    header {
        background-image: url('../images/banner.jpg');
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-position: center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
        text-align: center;
        color: white;
    }
    header .intro-text {
        padding: 4em 0em 2em 0em;
        font-family: 'Lobster', cursive;
        font-size: 5em;
    }
    /* end header */
    /* about */
    #about {
        padding: 2em 0 2em;
        background: #f5f4eb;
    }
    #about h3 {
        font-size: 2.5em;
        margin: 0 0.5em;
        font-weight: 600;
    }
    #about img {
        width: 75%;
        display: block;
        margin: auto;
        padding: 0em 0em 2em 0em;
    }
    #about .row {
        margin-top: 3em;
        text-align: center;
    }
    #about p {
        font-size: 1.2em;
        font-weight: 500;
        padding: 0em 3em 1em 3em;
        line-height: 1.8em;
        color: #333;
        text-align: inherit;
    }
    /* end about */
}

/* 
    Medium screens - TABLET
    min-width 641px, medium screens
*/

@media only screen and (min-width: 40.063em) {
    /* header */
    header .intro-text {
        padding: 5em 0em 2em 0em;
    }
    /* end header */
}

/* 
    Large screens - DESKTOP
    min-width 1025px, large screens
*/

@media only screen and (min-width: 64.063em) {
    #about img {
        width: 100%;
    }
}

/* 
    XLarge screens
    min-width 1441px, xlarge screens
*/

@media only screen and (min-width: 90.063em) {
    /* header */
    header .intro-text {
        padding: 6em 0em 2em 0em;
    }
    /* end header */
}