/*
    Small screens - MOBILE
    max-width 641px, small screens
*/

@media only screen {
    /* header */
    header {
        background-image: url('../images/banner.jpg');
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-position: center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
        text-align: center;
        color: white;
    }
    header .intro-text {
        padding: 4em 0em 2em 0em;
        font-family: 'Lobster', cursive;
        font-size: 5em;
    }
    /* end header */
    /* widgets */
    .widget_row {
        background: transparent;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        list-style: none;
        margin: -8em 0;
        padding: 0;
        -webkit-flex-flow: row wrap;
    }
    .widget {
        background: #16A667;
        color: white;
        font-size: 1em;
        height: 22em;
        margin: 0.5em 1em;
        padding: 2em 1em;
        text-align: center;
        width: 15em;
    }
    .widget img {
        border: 0.25em solid #eee;
        border-radius: 10em;
        padding: 0.25em 0.25em;
    }
    .widget img:hover {
        transform: rotateY(360deg);
        transition: 2.5s all;
        -webkit-transition: 2.5s all;
        -moz-transition: 2.5s all;
        -o-transition: 2.5s all;
        -ms-transition: 2.5s all;
    }
    .widget h4 {
        font-size: 1.5em;
        font-weight: 600;
    }
    .widget p {
        font-size: 1.25em;
    }
    /* end widgets */
    /* widget spacing */
    #widget_spacing {
        background: #f5f4eb;
        height: 100em;
        left: 0;
        position: absolute;
        top: 30em;
        width: 100%;
        z-index: -1;
    }
    /* end widget spacing */
    /* about */
    #about {
        background: #f5f4eb;
        margin-top: -16em;
        padding: 18em 0 2em;
    }
    #about h3 {
        font-size: 2.5em;
        margin: 0 0.5em;
        font-weight: 600;
    }
    #about img {
        width: 75%;
        display: block;
        margin: auto;
        padding: 0em 0em 2em 0em;
    }
    #about .row {
        margin-top: 3em;
        text-align: center;
    }
    #about p {
        font-size: 1.2em;
        font-weight: 500;
        padding: 0em 3em 1em 3em;
        line-height: 1.8em;
        color: #333;
        text-align: inherit;
    }
    /* end about */
    /* services */
    #services {
        background: white;
        padding: 4em 2em;
    }
    #services .row {
        margin-top: 3em;
    }
    #services h3 {
        font-size: 2.5em;
        color: #000000;
        margin: 0 0.5em;
        font-weight: 600;
    }
    .service {
        text-align: center;
    }
    .service img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 75%;
    }
    #services h4 {
        font-size: 1.6em;
        color: #000000;
        padding: 0.5em 0;
        display: block;
        font-weight: 600;
    }
    #services p {
        font-size: 1.2em;
        margin-bottom: 0.25em;
        color: #333;
        line-height: 1.8em;
        padding: 0em 2em;
    }
    #services a {
        font-size: 1.2em;
        padding: 0.5em 1em;
        margin: 1.5em 0em 1.5em;
        background-color: #16A667;
        color: #ffffff;
    }
    #services a:hover {
        background-color: darkgreen;
    }
    /* end services */
    /* contact */
    #contact {
        padding: 4em 0em;
        background-color: #333333;
    }
    #contact h3 {
        color: white;
        font-size: 2.5em;
        margin: 0em 0.5em;
        font-weight: 600;
    }
    #contact .row {
        margin-top: 3em;
        text-align: center;
    }
    #contact label {
        background-color: white;
        color: #e74c3c;
        font-size: 1.2em;
        padding: 1em 1em 1em 1em;
        margin: 0em 0em 0em 0em;
    }
    #contactUsForm .form-control {
        background: white;
        color: black;
        border-radius: 0px;
        box-shadow: none;
        margin-bottom: 22px;
        padding: 10px;
        height: auto;
        font-size: 1.4em;
    }
    #contactUsForm .form-control::placeholder {
        color: #333333;
        font-weight: 500;
    }
    #contactUsForm .form-control-btn {
        color: white;
        background-color: #16A667;
        border-color: #16A667;
        font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 1.2em;
        padding: 8px;
        box-shadow: none;
    }
    #contactUsForm .form-control-btn:hover,
    #contactUsForm .form-control-btn:focus,
    #contactUsForm .form-control-btn:active,
    #contactUsForm .form-control-btn:active {
        color: white;
        background-color: darkgreen;
        border-color: darkgreen;
    }
    div#contactUsSuccess,
    div#contactUsError {
        display: none;
    }
    span.fancy-text {
        color: white;
        font-weight: 500;
        font-size: 20px;
        display: block;
        margin-bottom: 10px;
    }
    /* end contact */
    /* gallery */
    #gallery {
        padding: 5em 0em;
    }
    #gallery .col-md-3 {
        padding: 1em 0.5em;
        width: 50%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    /* end gallery */
}

/* 
    Medium screens - TABLET
    min-width 641px, medium screens
*/

@media only screen and (min-width: 40.063em) {
    /* header */
    header .intro-text {
        padding: 5em 0em 2em 0em;
    }
    /* end header */
    /* gallery */
    #gallery .col-md-3 {
        padding: 0.5em 0.5em;
    }
    /* end gallery */
}

/* 
    Large screens - DESKTOP
    min-width 1025px, large screens
*/

@media only screen and (min-width: 64.063em) {
    /* about */
    #about img {
        width: 100%;
    }
    /* end about */
    /* services */
    #services p {
        padding: 0em 3em;
    }
    /* end services */
    /* gallery */
    #gallery .col-md-3 {
        padding: 0em 0em;
        width: 25%;
    }
    /* end gallery */
}

/* 
    XLarge screens
    min-width 1441px, xlarge screens
*/

@media only screen and (min-width: 90.063em) {
    /* header */
    header .intro-text {
        padding: 6em 0em 2em 0em;
    }
    /* end header */
}