/*
    Small screens - MOBILE
    max-width 641px, small screens
*/

@media only screen {
    /* header */
    header {
        padding: 0em 0em 2em 0em;
        text-align: center;
    }
    header .intro-text {
        font-size: 3em;
        padding: 2em 1em 1em 1em;
        text-align: center;
    }
    header p {
        font-size: 1.5em;
        font-weight: 595;
        margin: 0em 3em 2em 3em;
    }
    header a.btn {
        background-color: #16A667;
        color: #ffffff;
        font-size: 1.25em;
        padding: 0.5em 0.5em;
    }
    header a.btn:hover {
        background-color: darkgreen;
        color: white;
    }
    /* end header */
    /* plans */
    .plans_row {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        margin-bottom: 2em;
        -webkit-flex-flow: row wrap;
    }
    .plan {
        margin: 1em 1em;
    }
    .plan_header {
        background: linear-gradient(45deg, rgb(80, 156, 103) 45%, #16A667 100%);
        border: 1px solid #bbb;
        border-bottom: none;
        box-sizing: border-box;
        box-sizing: content-box;
        box-shadow: 0 0.5rem 1rem 0 rgba(189, 195, 199, 0.6);
        color: white;
        padding: 0.5em 0em;
        text-align: center;
    }
    .plan h3 {
        font-weight: 600;
    }
    .plan_pricing {
        border: 1px solid #bbb;
        border-bottom: none;
        border-top: none;
        box-sizing: border-box;
        box-sizing: content-box;
        box-shadow: 0 0.5rem 1rem 0 rgba(189, 195, 199, 0.6);
        padding: 1em 0em;
        text-align: center;
    }
    .plan span {
        font-weight: 600;
    }
    .plan h2 {
        font-size: 4em;
        font-weight: 800;
    }
    .plan h5 {
        font-size: 1.25em;
        font-weight: 600;
    }
    .plan_content {
        background: linear-gradient(45deg, rgb(80, 156, 103) 45%, #16A667 100%);
        border: 1px solid #bbb;
        border-top: none;
        box-sizing: border-box;
        box-sizing: content-box;
        box-shadow: 0 0.5rem 1rem 0 rgba(189, 195, 199, 0.6);
        color: white;
        padding: 2em 2em 2em 0em;
    }
    .plan_content li {
        font-size: 1.25em;
        padding: 0em 0em 1em 0em;
    }
    .plan_disclaimer {
        font-style: italic;
        padding: 2em 3em;
        text-align: center;
    }
    /* end plans */
    /* gallery */
    #gallery {
        padding: 1em 5em 2em 5em;
    }
    .gallery_row {
        background: transparent;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        list-style: none;
        padding: 0;
        -webkit-flex-flow: row wrap;
    }
    .gallery_row li {
        margin: 0.25em;
        width: 20em;
    }
    .gallery_row img {
        width: 100%;
    }
    /* end gallery */
    /* additional */
    #additional {
        margin-top: 1em;
    }
    #additional h3 {
        color: #000000;
        font-size: 2.5em;
        font-weight: 600;
        margin: 0 0.5em;
    }
    #additional p {
        color: #333;
        font-size: 1.5em;
        line-height: 1.8em;
        padding: 1em 2em;
    }
    /* end additional */
}

/* 
    Medium screens - TABLET
    min-width 641px, medium screens
*/

@media only screen and (min-width: 40.063em) {}

/* 
    Large screens - DESKTOP
    min-width 1025px, large screens
*/

@media only screen and (min-width: 64.063em) {
    /* header */
    header p {
        margin: 0em 5em 1em 5em;
    }
    /* end header */
}

/* 
    XLarge screens
    min-width 1441px, xlarge screens
*/

@media only screen and (min-width: 90.063em) {}