/*
    Small screens - MOBILE
    max-width 641px, small screens
*/

@media only screen {
    /* header */
    header {
        margin: 2em;
    }
    header .intro-text {
        padding-bottom: 0.5em;
        font-size: 3em;
        text-align: center;
    }
    header p {
        padding: 0em 1em;
        font-size: 1.5em;
    }
    /* end header */
    /* choices */
    #choices {
        background-color: #333333;
        padding: 3em 3em;
    }
    #choices .container {
        background-color: white;
    }
    .tab {
        margin: 0;
        padding: 0;
        overflow: hidden;
        text-align: center;
        margin-bottom: 1em;
        list-style-type: none;
    }
    .tab li {
        display: inline-block;
    }
    .tab a {
        color: #333333;
        transition: .3s;
        font-size: 16px;
        font-weight: 800;
        text-align: center;
        padding: 1em 1em;
        display: inline-block;
        text-decoration: none;
    }
    .tab a:hover {
        color: darkgreen;
    }
    .tab a:focus,
    .tab .active {
        background-color: #16A667;
        color: white;
        border-radius: 3px;
    }
    .tabcontent {
        display: none;
    }
    .tabcontent ul {
        list-style-type: none;
        padding: 0em 0em 0em 0em;
        text-align: center;
    }
    ul li.item {
        list-style-type: none;
        text-align: center;
        padding: 3em 2em;
        vertical-align: middle;
        height: 15em;
        width: 12em;
        border: solid 1px black;
        display: inline-block;
        box-shadow: 0;
        transition: box-shadow 1s;
        border: 1px solid #eee;
    }
    ul li.item:hover {
        box-shadow: 0 0 3px #515151;
    }
    ul li.item h4 {
        font-size: 1.5em;
        font-weight: 600;
    }
    ul li.item h5 {
        font-size: 1.25em;
        font-weight: 600;
        color: #16A667;
    }
    /* end choices */
}

/* 
    Medium screens - TABLET
    min-width 641px, medium screens
*/

@media only screen and (min-width: 40.063em) {}

/* 
    Large screens - DESKTOP
    min-width 1025px, large screens
*/

@media only screen and (min-width: 64.063em) {
    /* header */
    header p {
        padding: 0em 10em 1em 10em;
    }
    /* end header */
    /* choices */
    .tabcontent {
        display: none;
        padding: 2em 10em 5em 10em;
    }
    .tabcontent ul {
        list-style-type: none;
        padding: 0em 0em 0em 0em;
        text-align: center;
    }
    ul li.item {
        list-style-type: none;
        text-align: center;
        padding: 5em 2em;
        vertical-align: middle;
        height: 15em;
        width: 15em;
        border: solid 1px black;
        display: inline-block;
        box-shadow: 0;
        transition: box-shadow 1s;
        border: 1px solid #eee;
    }
    /* end choices */
}

/* 
    XLarge screens
    min-width 1441px, xlarge screens
*/

@media only screen and (min-width: 90.063em) {}