/*
    Small screens - MOBILE
    max-width 640px, small screens
*/

@media only screen {
    /* page level */
    body {
        font-family: 'Arima Madurai', sans-serif;
        left: 0;
        overflow-x: hidden;
        position: relative;
        transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
    }
    h3 {
        text-align: center;
    }
    p {
        text-align: center;
    }
    /* end page level */
    /* nav brand */
    #brand {
        align-items: center;
        display: flex;
        margin-left: 1em;
    }
    #brand a {
        color: white;
        font-family: 'Lobster', cursive;
        font-size: 3rem;
    }
    #brand a:hover {
        color: #16A667;
        text-decoration: none;
    }
    /* end brand nav */
    /* mobile nav */
    #mobile_nav_toggles {
        background-color: #222222;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        left: 0;
        position: sticky;
        top: 0;
        width: 100%;
    }
    #nav_side_menu {
        background: #16A667;
        height: 100%;
        position: fixed;
        right: -240px;
        top: 0;
        transition: all 0.3s ease;
        width: 240px;
        z-index: 1000;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
    }
    #nav_side_menu .nav_side_menu_link {
        color: #fff;
        display: block;
        font-size: 1.1em;
        font-weight: 600;
        margin: 0.5em 1em;
        padding: 1em;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
    }
    #nav_side_menu .contact {
        margin: 0.5em 4em;
        border-radius: 1.5em;
        border: 3px solid white;
        padding: 0.5em 0.5em;
    }
    #nav_side_menu.nav_side_menu_open {
        right: 0px;
    }
    .body_open {
        left: -240px;
    }
    #nav_mobile_open {
        align-content: center;
        display: flex;
        padding: 0.5em 0.75em 0 0;
    }
    #nav_mobile_open a {
        color: white;
        font-size: 4em;
        line-height: 1em;
    }
    #nav_mobile_close {
        display: none;
    }
    #nav_mobile_close a {
        color: white;
        font-size: 5em;
        line-height: 1em;
        margin-right: 0.25em;
        text-decoration: none;
    }
    /* end mobile nav */
    /* desktop nav */
    #desktop_menu {
        display: none;
    }
    /* end desktop nav */
    /* footer */
    footer {
        padding: 2em 0;
        text-align: center;
        background: #eeeeee;
    }
    footer i {
        display: inline-block;
    }
    footer p {
        padding: 1em;
        font-size: 1em;
        color: #000000;
        font-weight: 400;
    }
    /* end footer */
}

/* 
    Medium screens - TABLET
    min-width 641px, medium screens
*/

@media only screen and (min-width: 40.063em) {}

/* 
    Large screens - DESKTOP
    min-width 1025px, large screens
*/

@media only screen and (min-width: 64.063em) {
    /* page level */
    h3 {
        text-align: inherit;
    }
    /* end page level */
    /* brand nav */
    #brand a {
        font-size: 4rem;
    }
    /* end brand nav */
    /* mobile nav */
    #mobile_nav_toggles {
        display: none;
    }
    /* end mobile nav */
    /* desktop nav */
    #desktop_menu {
        background-color: #222222;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        left: 0;
        position: sticky;
        top: 0;
        width: 100%;
    }
    #desktop_menu ul {
        list-style-type: none;
        margin: 1em;
        padding: 1em;
    }
    #desktop_menu li {
        display: inline;
        margin: 0.5em 0 0.5em 1em;
        text-transform: uppercase;
    }
    #desktop_menu li a {
        color: white;
        letter-spacing: 0.1em;
        font-size: 1em;
        font-weight: bolder;
    }
    #desktop_menu li a:link {
        text-decoration: none;
    }
    #desktop_menu li a:hover {
        color: rgb(20, 136, 86);
        outline: none;
    }
    #desktop_menu .contact {
        margin-right: 2em;
        border-radius: 1.5em;
        border: 3px solid white;
        padding: 0.5em 1.5em;
    }
    #desktop_menu .contact:hover {
        background: white;
        color: darkgreen;
        font-weight: bolder;
        transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
    }
    /* end desktop nav */
}

/* 
    XLarge screens
    min-width 1441px, xlarge screens
*/

@media only screen and (min-width: 90.063em) {}

/*
    XXLarge screens
    min-width 1921px, xlarge screens
*/

@media only screen and (min-width: 120.063em) {}