/* 
font-family: 'Lato', sans-serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Poiret One', cursive;
font-family: 'Josefin Slab', serif;
font-family: 'Farsan', cursive;
font-family: 'Arima Madurai', cursive;
 */


/* page level */

body {
    font-family: 'Arima Madurai', sans-serif;
}

h3 {
    text-align: center;
}
p{
    text-align: center; 
}


/* end page level */


/* navbar */

.navbar-custom {
    background-color: #222222;
    border-color: transparent;
}

.navbar-custom .navbar-brand {
    color: #ffffff;
    font-family: 'Lobster', cursive;
    font-size: 2.5em;
}

.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus,
.navbar-custom .navbar-brand:active,
.navbar-custom .navbar-brand.active {
    color: #16A667;
}

.navbar-custom .navbar-collapse {
    border-color: rgba(255, 255, 255, 0.02);
}

.navbar-custom .navbar-toggle {
    background-color: #16A667;
    border-color: #16A667;
    text-transform: uppercase;
    color: white;
}

.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
    background-color: #16A667;
}

.navbar-custom .nav li a {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 1px;
    color: white;
}

.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus {
    color: #16A667;
    outline: none;
}

.navbar-custom .navbar-nav>.active>a {
    border-radius: 0;
    color: white;
    background-color: #16A667;
}

.navbar-custom .navbar-nav>.active>a:hover,
.navbar-custom .navbar-nav>.active>a:focus {
    color: white;
    background-color: #16A667;
}

.navbar-custom.affix,
.navbar-custom.affix-top {
    background-color: #222222;
    padding: 0.5em 0 0 0.5em;
}


/* end navbar */


/* header */

header {
    background-image: url('../images/banner.jpg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    text-align: center;
    color: white;
}

header .intro-text {
    padding-top: 350px;
    padding-bottom: 150px;
}

header .intro-text {
    font-family: 'Lobster', cursive;
    font-size: 5em;
}


/* end header */


/* about */

#about {
    padding: 4em 0 2em;
    background: #f5f4eb;
}

#about img {
    width: 100%;
    padding: 0em 0em 0em 1em;
}

#about h3 {
    font-size: 2.5em;
    text-transform: capitalize;
    color: #000000;
    margin: 0 0.5em;
    font-weight: 600;
}

#about .row {
    margin-top: 3em;
}

#about p {
    font-size: 1.5em;
    padding: 1em 1em 1em 1em;
    color: #333;
    line-height: 1.8em;
}


/* end about */


/* services */

#services {
    padding: 4em 2em;
}

#services .row {
    margin-top: 3em;
}

#services h3 {
    font-size: 2.5em;
    color: #000000;
    margin: 0 0.5em;
    font-weight: 600;
}

.service {
    text-align: center;
}

.service img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#services h4 {
    font-size: 1.6em;
    color: #000000;
    padding: 0.5em 0;
    display: block;
    font-weight: 600;
}

#services p {
    font-size: 1.2em;
    margin-bottom: 0.25em;
    color: #333;
    line-height: 1.8em;
}

#services a {
    font-size: 1.2em;
    padding: 0.5em 1em;
    margin: 1.5em 0em 1.5em;
    background-color: #16A667;
    color: #ffffff;
}

#services a:hover {
    background-color: darkgreen;
}


/* end services */


/* footer */

footer {
    padding: 2em 0;
    text-align: center;
    background: #eeeeee;
}

footer i {
    display: inline-block;
}

footer p {
    padding: 1em;
    font-size: 16px;
    color: #000000;
    font-weight: 400;
}


/* end footer */

@media (min-width: 768px) {
    /* page level */
    h3 {
        text-align: inherit;
    }
    /* end page level */
    /* navbar */
    .navbar-custom {
        background-color: rgba(10, 40, 11, 0.3);
        padding: 0.75em 0em 0em 0em;
        -webkit-transition: padding 0.3s;
        -moz-transition: padding 0.3s;
        transition: padding 0.3s;
        border: none;
    }
    .navbar-custom .navbar-brand {
        font-size: 2em;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
    }
    .navbar-custom .navbar-nav>.active>a {
        border-radius: 3px;
    }
    .navbar-custom.affix,
    .navbar-custom.affix-top {
        background-color: #222222;
        padding: 0.75em 0 0 0;
    }
    .navbar-custom.affix .navbar-brand {
        font-size: 2.5em;
    }
    /* end navbar */
    /* header */
    header .intro-text {
        padding-top: 300px;
        padding-bottom: 150px;
    }
    header .intro-text {
        font-family: 'Lobster', cursive;
        font-size: 5em;
        margin-bottom: 125px;
    }
    /* end header */
    /* widgets */
    .widget {
        height: 22em;
        margin: 1em 1em 1em 1em;
    }
    .widget {
        background: #16A667;
        padding: 1.5em 2em;
    }
    .widget img {
        margin: 0 auto;
        border-radius: 73px;
        border: 9px solid #eeeeee;
        padding: 1em 1em;
    }
    .widget img:hover {
        transform: rotateY(360deg);
        transition: 2.5s all;
        -webkit-transition: 2.5s all;
        -moz-transition: 2.5s all;
        -o-transition: 2.5s all;
        -ms-transition: 2.5s all;
    }
    .widget h4 {
        font-size: 1.4em;
        padding: 0.5em 0 0;
        color: #ffffff;
        font-weight: 600;
    }
    .widget p {
        font-size: 1em;
        padding: 0.5em 0;
        color: #ffffff;
        line-height: 1.8em;
    }
    /* end widgets */
    /* about */
    #about {
        padding: 4em 0 4em;
        background: #f5f4eb;
    }
    #about img {
        width: 100%;
        padding: 0em 0em 0em 1em;
    }
    #about h3 {
        font-size: 2.5em;
        margin: 0 17px;
        font-weight: 600;
    }
    #about .row {
        margin-top: 3em;
    }
    #about p {
        font-size: 1.2em;
        font-weight: 500;
        padding: 1em 3em 1em 1em;
        line-height: 1.8em;
        color: #333;
        text-align: inherit;
    }
    /* end about */
    /* services */
    #services {
        padding: 4em 0;
    }
    #services .row {
        margin-top: 3em;
    }
    #services h3 {
        font-size: 2.5em;
        margin: 0 17px;
    }
    .service img {
        width: 100%;
    }
    .service h4 {
        font-size: 1.6em;
        padding: 0.5em 0;
        display: block;
        font-weight: 600;
    }
    .services p {
        font-size: 1.2em;
        margin-bottom: 0.25em;
        line-height: 1.8em;
    }
    .services a {
        font-size: 1.2em;
        padding: 0.5em 1em;
        margin-top: 1.5em;
    }
    /* end services */
    /* footer */
    footer {
        padding: 2em 0;
    }
    footer p {
        font-size: 16px;
        font-weight: 400;
    }
    /* end footer */
}