@import "../../styles/variables.scss";
@import "../../styles/typography.scss";

//Small screens - MOBILE
//max-width 640px, small screens
@media only screen {
  .modal {
    display: block;
    width: 100%;
    max-height: 100vh;
    margin: $small;
    overflow-y: auto;
    text-align: center;
    background-color: white;
    &__overlay {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 100;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100vw;
      height: 100vh;
      background-color: rgba($midGrey, 0.75);
    }
    &__title {
      @include font-type($mainFont, $midlarge);

      margin: $medium 0;
    }
    &__close {
      margin: $large 5% 0;
      padding: $medium 0;
      border-top: 1px solid $midGrey;
    }
  }
}

//Medium screens - TABLET
//min-width 641px, medium screens
@media only screen and (min-width: 40.063em) {
}

//Large screens - DESKTOP
//min-width 1025px, large screens
@media only screen and (min-width: 64.063em) {
  .modal {
    width: auto;
    height: fit-content;
    margin: $medium;
    &__title {
      margin: $large $medium;
    }
  }
}

//XLarge screens
//min-width 1441px, xlarge screens
@media only screen and (min-width: 90.063em) {
}

//XXLarge screens
//min-width 1921px, xlarge screens
@media only screen and (min-width: 120.063em) {
}
