@import "../../styles/variables";
@import "../../styles/mixins";

//Small screens - MOBILE
@media only screen {
  .contactPhoneWidget {
    display: grid;
    gap: $LARGE;
    width: 100%;
    padding-block: $LARGE;
    text-align: center;
    background-color: white;
    border-radius: $BORDER_RADIUS;
    h2 {
      @include font-type($size: $MIDLARGE);
    }
    a {
      @include font-type($size: $MIDLARGE);

      color: $MAIN_COLOR;
      text-decoration: none;
    }
  }
}

//Medium screens - TABLET
@media only screen and (min-width: $MEDIUM_SCREEN) {
}

//Large screens - DESKTOP
@media only screen and (min-width: $LARGE_SCREEN) {
}

//XLarge screens
@media only screen and (min-width: $XLARGE_SCREEN) {
}

//XXLarge screens
@media only screen and (min-width: $XXLARGE_SCREEN) {
}
