@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

//Small screens - MOBILE
@media only screen {
  .contact-address {
    h2 {
      @include font-type($MAIN_FONT, $MEDIUM, bold);
    }
  }
}

//Medium screens - TABLET
@media only screen and (min-width: $mediumScreen) {
}

//Large screens - DESKTOP
@media only screen and (min-width: $largeScreen) {
}

//XLarge screens
@media only screen and (min-width: $xLargeScreen) {
}

//XXLarge screens
@media only screen and (min-width: $xxLargeScreen) {
}
