@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

//Small screens - MOBILE
@media only screen {
  .input {
    position: relative;
    height: $XLARGE;
    overflow: hidden;
    &__span {
      position: absolute;
      bottom: 5px;
      left: 0;
      line-height: 1;
      transition: all 0.3s ease;
    }
    &__label {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-bottom: 1.5px solid black;
      pointer-events: none;
      &::after {
        position: absolute;
        bottom: -1.5px;
        left: 0;
        width: 100%;
        height: 100%;
        border-bottom: 3px solid $MAIN_COLOR;
        transform: translateX(-100%);
        transition: transform 0.3s ease;
        content: "";
      }
      &--error {
        color: lighten(darkred, 15);
        border-bottom: 3px solid lighten(darkred, 15);
        &::after {
          border-bottom: 3px solid lighten(darkred, 15);
          content: "";
        }
      }
    }
    input {
      width: 100%;
      height: 100%;
      padding: 0;
      padding-top: $MEDIUM;
      border: none;
      outline: none;
      &:focus + .input__label .input__span,
      &:valid + .input__label .input__span {
        @include font-type($SEC_FONT, $SMALL);

        color: $MAIN_COLOR;
        transform: translateY(-200%);
        &--error {
          color: lighten(darkred, 15);
        }
      }
      &:focus + .input__label::after,
      &:valid + .input__label::after {
        transform: translateX(0%);
      }
    }
  }
}

//Medium screens - TABLET
@media only screen and (min-width: $mediumScreen) {
}

//Large screens - DESKTOP
@media only screen and (min-width: $largeScreen) {
}

//XLarge screens
@media only screen and (min-width: $xLargeScreen) {
}

//XXLarge screens
@media only screen and (min-width: $xxLargeScreen) {
}
