@import "./variables.scss";

@mixin font-type(
  $fontFamily: $MAIN_FONT,
  $fontSize: $MEDIUM,
  $fontWeight: 400
) {
  font-weight: $fontWeight;
  font-size: $fontSize;
  font-family: $fontFamily;
}

@mixin button() {
  @include font-type($MAIN_FONT, $MEDIUM);

  display: grid;
  align-items: center;
  min-height: $XLARGE;
  padding: $SMALL $MIDLARGE;
  color: white;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background-color: $MAIN_COLOR;
  border-radius: $XSMALL;
  cursor: pointer;
  &:hover {
    background-color: $MAIN_COLOR_LIGHTEN;
    transition: background-color 0.5s ease-in-out;
  }
  &:disabled {
    color: white;
    background: $MAIN_COLOR;
    cursor: not-allowed;
    opacity: 0.5;
  }
}

@mixin textarea() {
  padding: $SMALL $XSMALL;
  font-size: $MEDIUM;
  border: 1px solid $BORDER_GRAY;
  border-radius: 5px;
}

@mixin headerImage($PADDING: 0, $MAX_HEIGHT: 45vh) {
  @if $PADDING != 0 {
    padding: $PADDING;
  }

  max-height: $MAX_HEIGHT;
}
