@import "./variables";

@mixin font-type(
  $family: $MAIN_FONT,
  $size: $MEDIUM,
  $weight: 300,
  $color: $FONT_GRAY
) {
  color: $color;
  font-weight: $weight;
  font-size: $size;
  font-family: $family;
}

@function rgba-with-var($color, $alpha: 1) {
  @return unquote(
    "rgba(#{red($color)}, #{green($color)}, #{blue($color)}, #{$alpha})"
  );
}

@mixin button() {
  @include font-type($size: $MEDIUM);

  display: grid;
  align-items: center;
  min-height: $XLARGE;
  padding: $SMALL $MIDLARGE;
  color: white;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background-color: $MAIN_COLOR;
  border-radius: $BORDER_RADIUS;
  cursor: pointer;
  &:hover {
    background-color: $MAIN_COLOR_LIGHTEN;
    transition: background-color 0.5s ease-in-out;
  }
  &:disabled {
    color: white;
    background: $MAIN_COLOR;
    cursor: not-allowed;
    opacity: 0.5;
  }
}

@mixin CTA-link {
  position: relative;
  z-index: 2;
  align-self: center;
  padding: $MEDIUM $MIDLARGE;
  color: white;
  font-size: $MEDIUM;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background-color: $MAIN_COLOR;
  border: 1px solid rgba(255, 255, 255, 0.7);
  border-radius: $BORDER_RADIUS;
  cursor: pointer;
  &:hover {
    background: $MAIN_COLOR_LIGHTEN;
    transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out;
  }
  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}

@mixin textarea() {
  @include font-type($size: $MIDSMALL);

  padding: $SMALL $XSMALL;
  border: 1px solid $BORDER_GRAY;
  border-radius: $BORDER_RADIUS;
}
