@import "./variables.scss";

.react-tabs {
  &__tab-list {
    display: flex;
    margin: 0;
    padding: 0;
  }
  &__tab {
    color: $fontGrey;
    cursor: pointer;
    display: flex;
    font-family: $secFont;
    font-size: $medium;
    justify-content: center;
    padding: $small $medium $xsmall;
    &--selected {
      border-bottom: 3px solid $mainColor;
      color: $midGrey;
      font-weight: bold;
    }
  }
  &__tab-panel {
    display: none;
    &--selected {
      display: flex;
      padding-top: $small;
    }
  }
}
