// New from WB
// Colors
$MAIN_COLOR: #0a4275;
$MAIN_COLOR_INVERTED: #994b04;
$MAIN_COLOR_DARKEN: darken($MAIN_COLOR, 10);
$MAIN_COLOR_LIGHTEN: lighten($MAIN_COLOR, 10);
$SEC_COLOR: rgba(31, 130, 227, 0.8);
$GRAY_500: #3d3f42;
$GRAY_400: #5a5c5e;
$GRAY_300: #9fa1a4;
$GRAY_200: #d8d8d8;
$GRAY_100: #f5f5f5;

// Feature Specific Colors
$FONT_GRAY: rgba(0, 0, 0, 0.7);
$BORDER_GRAY: rgba(0, 0, 0, 0.5);
$BOX_SHADOW_GRAY: rgba(189, 195, 199, 0.6);
$BOX_SHADOW: 1px 2px $BOX_SHADOW_GRAY;
$BOX_SHADOW_WIDGET: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);

// Spacing
$XXSMALL: 0.3rem;
$XSMALL: 0.6rem;
$SMALL: 1.2rem;
$MEDIUM: 1.8rem;
$MIDLARGE: 2.4rem;
$LARGE: 3.2rem;
$XLARGE: 4.8rem;
$XXLARGE: 7.6rem;

//Component Heights
$NAV_MENU_HEIGHT: 120px;
$NAV_MENU_WIDTH: 240px;
$FOOTER_HEIGHT: 50px;
$LINE_HEIGHT: 1.5;

// Screen Breakpoints
$MEDIUM_SCREEN: 641px;
$LARGE_SCREEN: 1025px;
$XLARGE_SCREEN: 1441px;
$XXLARGE_SCREEN: 1921px;

// Site Fonts
$MAIN_FONT: "Ubuntu Light", sans-serif;
$SEC_FONT: "Ubuntu", sans-serif;

// Images CDN
$IMAGES_CDN: "https://cdn-e-and-b-solutions.s3.amazonaws.com/valley-love-farm";
