@font-face {
    font-family: 'ArimaMaduraiLight';
    src: url('ArimaMaduraiLight.woff') format('woff'), url('ArimaMaduraiLight.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ArimaMadurai';
    src: url('ArimaMaduraiRegular.woff') format('woff'), url('ArimaMaduraiRegular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
