@font-face {
  font-family: "Ubuntu Light";
  src: url("../fonts/Ubuntu_Light.woff") format("woff"),
    url("../fonts/Ubuntu_Light.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Ubuntu Regular";
  src: url("../fonts/Ubuntu_Regular.woff") format("woff"),
    url("../fonts/Ubuntu_Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
