@font-face {
  font-weight: normal;
  font-family: "Ubuntu Light";
  font-style: normal;
  src:
    url("../static/fonts/Ubuntu_Light.woff") format("woff"),
    url("../static/fonts/Ubuntu_Light.woff2") format("woff2");
}

@font-face {
  font-weight: normal;
  font-family: "Ubuntu Regular";
  font-style: normal;
  src:
    url("../static/fonts/Ubuntu_Regular.woff") format("woff"),
    url("../static/fonts/Ubuntu_Regular.woff2") format("woff2");
}
