@import "../../styles/variables.scss";
@import "../../styles/typography.scss";

//Small screens - MOBILE
//max-width 640px, small screens
@media only screen {
  .option {
    &__image {
      padding: 0 5%;
      img {
        max-height: 50vh;
        object-fit: scale-down;
        width: 100%;
      }
    }
    &__content {
      &-title {
        @include font-type($mainFont, $midlarge, bold);
        margin: $medium 0;
      }
      &-text {
        @include font-type($mainFont, $medium);
        color: $darkGrey;
        line-height: $large;
        margin-bottom: $small;
        padding: 0 $small;
      }
    }
  }
}

//Medium screens - TABLET
//min-width 641px, medium screens
@media only screen and (min-width: 40.063em) {
}

//Large screens - DESKTOP
//min-width 1025px, large screens
@media only screen and (min-width: 64.063em) {
  .option {
    &__content {
      &-text {
        padding: 0 $medium;
      }
    }
  }
}

//XLarge screens
//min-width 1441px, xlarge screens
@media only screen and (min-width: 90.063em) {
}

//XXLarge screens
//min-width 1921px, xlarge screens
@media only screen and (min-width: 120.063em) {
}
