@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

//Small screens - MOBILE
@media only screen {
  .privacy-policy-container {
    padding: $MEDIUM;
    &__title {
      @include font-type($MAIN_FONT, $MIDLARGE, bold);

      margin-bottom: $MEDIUM;
    }
    &__policy-heading {
      @include font-type($SEC_FONT, $MEDIUM);

      margin: $MEDIUM 0 $XSMALL;
    }
  }
}

//Medium screens - TABLET
@media only screen and (min-width: $MEDIUM_SCREEN) {
}

//Large screens - DESKTOP
@media only screen and (min-width: $LARGE_SCREEN) {
}

//XLarge screens
@media only screen and (min-width: $XLARGE_SCREEN) {
}

//XXLarge screens
@media only screen and (min-width: $XXLARGE_SCREEN) {
}
