@import "../styles/variables.scss";
@import "../styles/fonts.scss";
@import "../styles/typography.scss";

//Small screens - MOBILE
//max-width 640px, small screens
@media only screen {
  * {
    @include font-type();
    box-sizing: border-box;
  }

  html {
    font-size: 62.5%;
    height: 100%;
  }

  body {
    height: 100%;
  }

  button,
  .nav_link {
    align-self: center;
    background-color: white;
    border: 2px solid $mainColor;
    border-radius: $xxsmall;
    color: $mainColor;
    cursor: pointer;
    display: inline-block;
    font-size: $medium;
    margin: 0;
    padding: $medium $midlarge;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;

    &:hover {
      background: $mainColor;
      color: white;
      transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
    }

    &:disabled {
      background: $mainColor;
      cursor: not-allowed;
      color: white;
      opacity: 0.5;
    }
  }

  input,
  textarea {
    border: 0.5px solid $fontGrey;
    border-radius: 5px;
    padding: $small $xsmall;
  }

  textarea {
    font-size: $medium;
  }
}

//Medium screens - TABLET
//min-width 641px, medium screens
@media only screen and (min-width: 40.063em) {
}

//Large screens - DESKTOP
//min-width 1025px, large screens
@media only screen and (min-width: 64.063em) {
}

//XLarge screens
//min-width 1441px, xlarge screens
@media only screen and (min-width: 90.063em) {
}

//XXLarge screens
//min-width 1921px, xlarge screens
@media only screen and (min-width: 120.063em) {
}
