@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

//Small screens - MOBILE
@media only screen {
}

//Medium screens - TABLET
@media only screen and (min-width: $mediumScreen) {
}

//Large screens - DESKTOP
@media only screen and (min-width: $largeScreen) {
  .accordion-desktop {
    position: relative;
    display: inline-block;
    margin-right: $MEDIUM;
    &__title {
      @include font-type($MAIN_FONT, $MEDIUM, bold);

      padding: $SMALL;
      color: $MAIN_COLOR;
      border-bottom: none;
      cursor: pointer;
      &.accordion-desktop--toggled {
        background-color: $GRAY_200;
      }
    }
    &__content {
      display: none;
      max-height: 0;
      overflow: hidden;
      background-color: white;
      &-link {
        @include font-type($MAIN_FONT, $MEDIUM, lighter);

        padding: $SMALL;
        &:hover {
          background-color: $GRAY_100;
        }
      }
      &.accordion-desktop--toggled {
        position: absolute;
        top: 50px;
        left: 0;
        display: grid;
        width: 250px;
        max-height: 500px;
        box-shadow: $BOX_SHADOW;
      }
    }
  }
}

//XLarge screens
@media only screen and (min-width: $xLargeScreen) {
}

//XXLarge screens
@media only screen and (min-width: $xxLargeScreen) {
}
