@import "../../styles/variables";
@import "../../styles/mixins";

//Small screens - MOBILE
@media only screen {
  .service-option {
    &__image {
      max-height: 50vh;
      padding: 0 $MEDIUM;
    }
    &__content {
      &-title {
        @include font-type($MAIN_FONT, $MIDLARGE, bold);

        margin: $SMALL 0;
      }
      &-text {
        @include font-type($MAIN_FONT, $MEDIUM);

        max-width: 724px;
        margin: 0 auto $MEDIUM;
        padding: 0 5%;
        line-height: $LARGE;
      }
    }
    &__nav-link {
      @include CTA-link();
    }
  }
}

//Medium screens - TABLET
@media only screen and (min-width: $MEDIUM_SCREEN) {
}

//Large screens - DESKTOP
@media only screen and (min-width: $LARGE_SCREEN) {
  .service-option {
    &__content {
      &-text {
        padding: 0 $LARGE;
      }
    }
  }
}

//XLarge screens
@media only screen and (min-width: $XLARGE_SCREEN) {
}

//XXLarge screens
@media only screen and (min-width: $XXLARGE_SCREEN) {
}
