@import "../../styles/variables.scss";
@import "../../styles/typography.scss";

//Small screens - MOBILE
//max-width 640px, small screens
@media only screen {
  .lawn-service-card {
    margin: $small $medium;
    background: white;
    filter: drop-shadow(3px 3px 6px $boxShadowGrey);
    &__title {
      @include font-type($mainFont, $midlarge);

      padding: $medium 0;
      color: white;
      text-align: center;
      background: $mainColorGradient;
    }
    &__pricing {
      padding: $small;
      text-align: center;
      border: $border;
      &-from {
        @include font-type($secFont, $medium);
      }
      &-price {
        @include font-type($secFont, $xlarge, bold);

        margin-top: $medium;
        margin-bottom: $xsmall;
      }
      &-units {
        @include font-type($secFont, $medium);
      }
    }
    &__details {
      @include font-type($mainFont, $midlarge);

      display: grid;
      justify-content: center;
      padding: $medium $small $medium 0;
      color: white;
      background: $mainColorGradient;
      ul {
        margin: 0;
        padding-left: $large;
        list-style-type: square;
      }
      &-detail {
        line-height: $large;
      }
    }
  }
}

//Medium screens - TABLET
//min-width 641px, medium screens
@media only screen and (min-width: 40.063em) {
}

//Large screens - DESKTOP
//min-width 1025px, large screens
@media only screen and (min-width: 64.063em) {
  .lawn-service-card {
    margin: $small;
  }
}

//XLarge screens
//min-width 1441px, xlarge screens
@media only screen and (min-width: 90.063em) {
}

//XXLarge screens
//min-width 1921px, xlarge screens
@media only screen and (min-width: 120.063em) {
}
