@import "../../styles/variables.scss";
@import "../../styles/typography.scss";

//Small screens - MOBILE
//max-width 640px, small screens
@media only screen {
  .navbar {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: $NAV_MENU_HEIGHT;
    padding: $SMALL;
    background-color: $MAIN_COLOR;
    &__logo {
      position: absolute;
      left: 50%;
      z-index: 9001;
      transform: translateX(-50%);
    }
    &__links {
      position: fixed;
      top: $NAV_MENU_HEIGHT;
      right: -100%;
      width: 100%;
      height: 100%;
      padding-top: $XXLARGE;
      background-color: $MAIN_COLOR_DARKEN;
      transition: transform 0.3s ease;
      &.navbar__links--open {
        transform: translateX(-100%);
      }
      &-close {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-right: $SMALL;
      }
    }
    &__link {
      display: block;
      padding: $MEDIUM;
      color: white;
      font-size: $LARGE;
      text-align: center;
      text-transform: uppercase;
      text-decoration: none;
    }
  }

  //Medium screens - TABLET
  //min-width 641px, medium screens
  @media only screen and (min-width: $MEDIUM_SCREEN) {
  }

  //Large screens - DESKTOP
  //min-width 1025px, large screens
  @media only screen and (min-width: $LARGE_SCREEN) {
    .navbar {
      &__logo {
        position: static;
        left: auto;
        transform: none;
      }
      &__toggle {
        display: none;
      }
      &__links {
        position: inherit;
        top: inherit;
        right: inherit;
        display: flex;
        align-items: center;
        width: inherit;
        height: inherit;
        padding: 0;
        background-color: inherit;
        transition: none;
      }
      &__link {
        font-size: $MEDIUM;
        &:hover {
          color: $MAIN_COLOR_INVERTED;
          transition: color 0.2s ease-in;
        }
      }
    }
  }
}

//XLarge screens
//min-width 1441px, xlarge screens
@media only screen and (min-width: $XLARGE_SCREEN) {
}

//XXLarge screens
//min-width 1921px, xlarge screens
@media only screen and (min-width: $XXLARGE_SCREEN) {
}
