@import "../../styles/variables";
@import "../../styles/mixins";

//Small screens - MOBILE
@media only screen {
  .aboutUs {
    display: flex;
    flex-direction: column;
    padding: $MEDIUM 5% $LARGE;
    text-align: center;
    &__title {
      @include font-type($MAIN_FONT, $LARGE);
    }
    &__image {
      max-width: 50vmax;
      max-height: 50vmax;
      margin: $MIDLARGE auto;
    }
    &__text {
      @include font-type($MAIN_FONT, $MEDIUM);

      display: grid;
      grid-gap: $MIDLARGE;
      max-width: 724px;
      margin: 0 auto $MEDIUM;
      padding: 0 $SMALL;
      line-height: $LARGE;
    }
  }
}

//Medium screens - TABLET
@media only screen and (min-width: $MEDIUM_SCREEN) {
}

//Large screens - DESKTOP
@media only screen and (min-width: $LARGE_SCREEN) {
  .aboutUs {
    text-align: inherit;
    &__content {
      display: grid;
      grid-gap: $MEDIUM;
      grid-template-columns: 1fr 1fr;
    }
    &__text {
      display: grid;
      grid-gap: $MEDIUM;
      align-content: center;
      justify-content: center;
      text-align: center;
    }
  }
}

//XLarge screens
@media only screen and (min-width: $XLARGE_SCREEN) {
}

//XXLarge screens
@media only screen and (min-width: $XXLARGE_SCREEN) {
}
