@import "../../styles/variables.scss";
@import "../../styles/typography.scss";

//Small screens - MOBILE
//max-width 640px, small screens
@media only screen {
  .about-us {
    padding: $medium 5%;
    text-align: center;

    &__title {
      @include font-type($mainFont, $large, bold);
    }

    &__content {
      &-image {
        margin: $medium 0;
        img {
          max-height: 50vh;
          object-fit: scale-down;
          width: 100%;
        }
      }

      &-text {
        @include font-type($mainFont, $medium);

        color: $fontGrey;
        display: grid;
        grid-gap: $medium;
        line-height: $large;
        padding: 0 $medium;
      }
    }
  }
}

//Medium screens - TABLET
//min-width 641px, medium screens
@media only screen and (min-width: 40.063em) {
}

//Large screens - DESKTOP
//min-width 1025px, large screens
@media only screen and (min-width: 64.063em) {
  .about-us {
    padding: $large 10%;
    text-align: inherit;

    &__content {
      align-items: center;
      display: grid;
      grid-gap: $medium;
      grid-template-columns: 1fr 1fr;
      text-align: center;
    }
  }
}

//XLarge screens
//min-width 1441px, xlarge screens
@media only screen and (min-width: 90.063em) {
}

//XXLarge screens
//min-width 1921px, xlarge screens
@media only screen and (min-width: 120.063em) {
}
