@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

//Small screens - MOBILE
@media only screen {
  .contact-form {
    @include font-type();

    display: grid;
    grid-gap: $SMALL;
    grid-template-columns: 100%;
    width: 100%;
    height: 100%;
    padding: $MEDIUM;
    background: white;
    box-shadow: $BOX_SHADOW;
    opacity: 0.95;
    &__title {
      @include font-type($MAIN_FONT, $MIDLARGE);

      margin-bottom: $SMALL;
      text-align: center;
    }
    &__button {
      @include button();
    }
    &__email-sent {
      @include font-type($MAIN_FONT, $MIDLARGE);

      max-width: 30vw;
      margin: 0 auto;
      text-align: center;
    }
  }
}

//Medium screens - TABLET
@media only screen and (min-width: $MEDIUM_SCREEN) {
  .contact-form {
    min-width: 350px;
    padding: $MEDIUM $MIDLARGE;
    textarea {
      margin-top: $SMALL;
    }
  }
}

//Large screens - DESKTOP
@media only screen and (min-width: $LARGE_SCREEN) {
  .contact-form {
    min-width: 500px;
    max-width: 750px;
  }
}

//XLarge screens
@media only screen and (min-width: $XLARGE_SCREEN) {
}

//XXLarge screens
@media only screen and (min-width: $XXLARGE_SCREEN) {
}
