@import "../../styles/variables";
@import "../../styles/mixins";

//Small screens - MOBILE
@media only screen {
  .flowBreak {
    width: 100%;
    height: 50vh;
  }
}

//Medium screens - TABLET
@media only screen and (min-width: $MEDIUM_SCREEN) {
  .flowBreak {
    height: 30vmin;
  }
}

//Large screens - DESKTOP
@media only screen and (min-width: $LARGE_SCREEN) {
}

//XLarge screens
@media only screen and (min-width: $XLARGE_SCREEN) {
}

//XXLarge screens
@media only screen and (min-width: $XXLARGE_SCREEN) {
}
