@import "../../styles/variables";
@import "../../styles/mixins";

//Small screens - MOBILE
@media only screen {
  .farmCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 15rem;
    height: 18rem;
    margin: $XSMALL;
    padding: $MEDIUM;
    text-align: center;
    border: solid 1px $BORDER_GRAY;
    box-shadow: $BOX_SHADOW;
    &__title {
      @include font-type($MAIN_FONT, $MEDIUM);

      margin-bottom: $SMALL;
    }
    &__price {
      @include font-type($SEC_FONT, $MIDLARGE);

      color: $MAIN_COLOR;
    }
  }
}

//Medium screens - TABLET
@media only screen and (min-width: $MEDIUM_SCREEN) {
}

//Large screens - DESKTOP
@media only screen and (min-width: $LARGE_SCREEN) {
}

//XLarge screens
@media only screen and (min-width: $XLARGE_SCREEN) {
}

//XXLarge screens
@media only screen and (min-width: $XXLARGE_SCREEN) {
}
