@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

//Small screens - MOBILE
@media only screen {
  .landing-gallery {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    padding: $LARGE 5%;
    &__image {
      width: auto;
      max-width: 100%;
      max-height: 50vh;
      margin: $XSMALL;
      object-fit: scale-down;
    }
  }
}

//Medium screens - TABLET
@media only screen and (min-width: $MEDIUM_SCREEN) {
}

//Large screens - DESKTOP
@media only screen and (min-width: $LARGE_SCREEN) {
  .landing-gallery {
    &__image {
      max-width: 25vw;
      max-height: 30vh;
    }
  }
}

//XLarge screens
@media only screen and (min-width: $XLARGE_SCREEN) {
}

//XXLarge screens
@media only screen and (min-width: $XXLARGE_SCREEN) {
}
