@import "../../styles/variables.scss";
@import "../../styles/typography.scss";

//Small screens - MOBILE
//max-width 640px, small screens
@media only screen {
  .landing-widget {
    background: $mainColorGradient;
    color: white;
    margin: $small;
    padding: $large $medium;
    text-align: center;
    width: 20rem;
    &__image {
      img {
        border: 0.25rem solid #eee;
        border-radius: 10rem;
        padding: 0.25rem;
        &:hover {
          transform: rotateY(360deg);
          transition: 2.5s all;
        }
      }
    }
    &__title {
      @include font-type($secFont, $midlarge, bold);
      margin: $small 0;
    }
    &__text {
      @include font-type($mainFont, $medium);
    }
  }
}

//Medium screens - TABLET
//min-width 641px, medium screens
@media only screen and (min-width: 40.063em) {
}

//Large screens - DESKTOP
//min-width 1025px, large screens
@media only screen and (min-width: 64.063em) {
}

//XLarge screens
//min-width 1441px, xlarge screens
@media only screen and (min-width: 90.063em) {
}

//XXLarge screens
//min-width 1921px, xlarge screens
@media only screen and (min-width: 120.063em) {
}
