@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

//Small screens - MOBILE
@media only screen {
  .farm-container {
    padding: $LARGE 5%;
    text-align: center;
    &__header {
      &-title {
        @include font-type($MAIN_FONT, $LARGE, bold);

        margin-bottom: $MEDIUM;
      }
      &-text {
        @include font-type($MAIN_FONT, $MEDIUM);

        max-width: 724px;
        margin: 0 auto $MEDIUM;
        padding: 0 5%;
        line-height: $LARGE;
      }
    }
    &__content {
      display: grid;
      grid-gap: $MIDLARGE;
    }
  }
}

//Medium screens - TABLET
@media only screen and (min-width: $MEDIUM_SCREEN) {
}

//Large screens - DESKTOP
@media only screen and (min-width: $LARGE_SCREEN) {
  .farm-container {
    padding: $LARGE 15%;
    &__content {
      display: grid;
      grid-gap: $MIDLARGE;
      grid-template-columns: 1fr 1fr;
      text-align: center;
    }
  }
}

//XLarge screens
@media only screen and (min-width: $XLARGE_SCREEN) {
}

//XXLarge screens
@media only screen and (min-width: $XXLARGE_SCREEN) {
}
