@import "../../styles/variables";
@import "../../styles/mixins";

//Small screens - MOBILE
@media only screen {
  .externalLink {
    @include font-type($MAIN_FONT, $MEDIUM);

    color: $MAIN_COLOR;
    text-decoration: none;
    cursor: pointer;
    &:disabled {
      cursor: not-allowed;
      opacity: 0.5;
    }
  }
}

//Medium screens - TABLET
@media only screen and (min-width: $MEDIUM_SCREEN) {
}

//Large screens - DESKTOP
@media only screen and (min-width: $LARGE_SCREEN) {
}

//XLarge screens
@media only screen and (min-width: $XLARGE_SCREEN) {
}

//XXLarge screens
@media only screen and (min-width: $XXLARGE_SCREEN) {
}
