@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

//Small screens - MOBILE
@media only screen {
  .accordion-mobile {
    position: relative;
    transform: translateZ(0);
    transition: all 0.2s;
    &__title {
      @include font-type($MAIN_FONT, $MEDIUM, bold);

      padding: $MEDIUM 0 $MEDIUM $MEDIUM;
      color: $MAIN_COLOR;
      border-bottom: solid 1px $MAIN_COLOR;
    }
    &__content {
      max-height: 0;
      overflow: hidden;
      background-color: white;
      &-link {
        @include font-type($MAIN_FONT, $MEDIUM, lighter);

        padding: $MEDIUM;
        border-bottom: solid 1px $GRAY_400;
      }
      &.accordion-mobile--toggled {
        display: grid;
        max-height: 500px;
      }
    }
  }
}

//Medium screens - TABLET
@media only screen and (min-width: $mediumScreen) {
}

//Large screens - DESKTOP
@media only screen and (min-width: $largeScreen) {
}

//XLarge screens
@media only screen and (min-width: $xLargeScreen) {
}

//XXLarge screens
@media only screen and (min-width: $xxLargeScreen) {
}
