@import "../../styles/variables.scss";
@import "../../styles/typography.scss";

//Small screens - MOBILE
//max-width 640px, small screens
@media only screen {
  .poultry-container {
    &__header {
      margin: $large $midlarge $medium;
      text-align: center;
      &-title {
        @include font-type($secFont, $large, bold);
        margin-bottom: $medium;
      }
      &-text {
        @include font-type($mainFont, $medium);
        line-height: $large;
        margin: 0 5% $medium;
      }
    }
    &__content {
      display: flex;
      justify-content: center;
      margin: 0 5% $large;
    }
  }
}

//Medium screens - TABLET
//min-width 641px, medium screens
@media only screen and (min-width: 40.063em) {
}

//Large screens - DESKTOP
//min-width 1025px, large screens
@media only screen and (min-width: 64.063em) {
  .poultry-container {
    &__header {
      &-text {
        margin: 0 20% $medium;
      }
    }
    &__content {
      margin: 0 20% $large;
    }
  }
}

//XLarge screens
//min-width 1441px, xlarge screens
@media only screen and (min-width: 90.063em) {
}

//XXLarge screens
//min-width 1921px, xlarge screens
@media only screen and (min-width: 120.063em) {
}
