@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

//Small screens - MOBILE
@media only screen {
  .poultry-container {
    &__header {
      margin: $LARGE $MIDLARGE $MEDIUM;
      text-align: center;
      &-title {
        @include font-type($MAIN_FONT, $LARGE);

        margin-bottom: $MEDIUM;
      }
      &-text {
        @include font-type($MAIN_FONT, $MEDIUM);

        max-width: 724px;
        margin: 0 auto $MEDIUM;
        padding: 0 5%;
        line-height: $LARGE;
      }
    }
    &__content {
      display: flex;
      justify-content: center;
      margin: 0 5% $LARGE;
    }
  }
}

//Medium screens - TABLET
@media only screen and (min-width: $MEDIUM_SCREEN) {
}

//Large screens - DESKTOP
@media only screen and (min-width: $LARGE_SCREEN) {
  .poultry-container {
    &__header {
      &-text {
        margin: 0 20% $MEDIUM;
      }
    }
    &__content {
      margin: 0 10% $LARGE;
    }
  }
}

//XLarge screens
@media only screen and (min-width: $XLARGE_SCREEN) {
}

//XXLarge screens
@media only screen and (min-width: $XXLARGE_SCREEN) {
}
