@font-face {
  font-weight: normal;
  font-family: "Arima Madurai Light";
  font-style: normal;
  src:
    url("../fonts/ArimaMaduraiLight.woff") format("woff"),
    url("../fonts/ArimaMaduraiLight.woff2") format("woff2");
}

@font-face {
  font-weight: normal;
  font-family: "Arima Madurai";
  font-style: normal;
  src:
    url("../fonts/ArimaMaduraiRegular.woff") format("woff"),
    url("../fonts/ArimaMaduraiRegular.woff2") format("woff2");
}
