@import "./variables.scss";
@import "./typography.scss";
.react-tabs {
  &__tab-list {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  &__tab {
    @include font-type($secFont, $medium);

    display: flex;
    justify-content: center;
    padding: $small $medium $xsmall;
    color: $fontGrey;
    cursor: pointer;
    &--selected {
      @include font-type($secFont, $medium, bold);

      color: $fontGrey;
      font-weight: bold;
      border-bottom: 3px solid $mainColor;
    }
  }
  &__tab-panel {
    display: none;
    &--selected {
      display: flex;
      padding-top: $small;
    }
  }
}
