// Colors
$green: #16A667;
$darkGreen: darken($green, 15);
$lightGrey: #f3f3f3;
$midLightGrey: #e8e8e8;
$midGrey: #666666;
$darkGrey: #222222;
$fontGrey: #333333;
$closeIconGrey: #aaa;
//Spacing
$xxsmall: 0.3rem;
$xsmall: 0.6rem;
$small: 1.2rem;
$medium: 1.8rem;
$midlarge: 2.4rem;
$large: 3.2rem;
$xlarge: 4.8rem;
$xxlarge: 7.6rem;
$navMenuWidth: 240px;
$desktopBreakpoint: 45rem;
//Font Imports
@import url('../fonts/ArimaMadurai.scss');
@import url('../fonts/Lobster.scss');
//Font Variables
$lobsterFont: "Lobster";
$arimaMaduraiLightFont: "ArimaMaduraiLight";
$arimaMadurai: "ArimaMadurai";
//Site Fonts
$mainFont: $arimaMadurai;
$secondaryFont: $arimaMaduraiLightFont;
$accentFont: $lobsterFont;
//CSS Breakpoints
$mediumScreen: 40.063em;
$largeScreen: 64.063em;
$xlargeScreen: 90.063em;
$xxlargeScreen: 120.063em;
